{% extends 'base.html.twig' %}

{% block title %}Registrarse
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/LoginRegister.css') }}">
{% endblock %}


{% block body %}
<div class="register-container">
	<h2 class="register-title">Crear cuenta</h2>


{% if registrationForm.vars.errors|length > 0 %}
	<div class="register-error">

{{ form_errors(registrationForm) }}

</div>{% endif %}


{{ form_start(registrationForm, { attr: { class: 'register-form' } }) }}
{{ form_row(registrationForm.persona.nombre) }}
{{ form_row(registrationForm.persona.apellido) }}

        {{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword, { label: 'Contraseña' }) }}
<div class="agree-terms-wrapper">
	{{ form_widget(registrationForm.agreeTerms, { attr: { class: 'custom-checkbox' } }) }}
	<label for="{{ registrationForm.agreeTerms.vars.id }}">
		Acepto los
		<a href="#">términos y condiciones</a>
		de la Red Social.
	</label>
</div>


<button type="submit">Registrarse</button>

    {{ form_end(registrationForm) }}
<a href="{{ path('app_home') }}">
	<button class="btnregresar">Volver al menu</button>
</a></div>

{% endblock %}
